  <appSettings>
    <add key="ReportPath" value="/PERT/Monthly/"/>
    <add key="ReportingServer" value=""/>
    <add key="ReportingServerUserName" value=""/>
    <add key="ReportingServerPassword" value=""/>
    <add key="ReportingServerDomain" value=""/>
    <add key="ReportFile1" value="MDIR"/>
    <add key="ReportFile2" value="OrderSource"/>
    <add key="ReportFile3" value="CustomerType"/>
    <add key="ReportFile4" value="OrderSourceIntl"/>
    <add key="ReportFile5" value="NCIDCAnnualCopiesDist"/>
    <add key="ReportFile6" value="AnnualCancerType"/>
    <add key="ReportFile7" value="NCIDCAnnualOrdersDist"/>
  </appSettings>