<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <section name="UserService" type="Aspensys.GlobalUsers.WebServiceClient.UserServiceSection" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <UserService Uri="https://pubs.cancer.gov/ncipl/guam/service/globalusersservice.svc" ApplicationName="ApplicationManagement" />
  
  <appSettings>
    <add key="EnableEventLog" value="True" />
  </appSettings>
  
  <connectionStrings configSource="localConfig\connectionStrings.config"></connectionStrings>

  <system.web.webPages.razor>
    <pages pageBaseType="System.Web.Mvc.WebViewPage&lt;dynamic>">
      <namespaces>
        <add namespace="ManagementApplication.Models" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Application" requireSSL="true" timeout="2880" />
    </authentication>
    <authorization />
    <membership defaultProvider="WebServiceMembershipProvider">
      <providers>
        <clear />
        <add name="WebServiceMembershipProvider" type="Aspensys.Providers.WebServiceMembershipProvider,Aspensys.Providers" />
      </providers>
    </membership>
    <profile defaultProvider="WebServiceProfileProvider">
      <providers>
        <clear />
        <add name="WebServiceProfileProvider" type="Aspensys.Providers.WebServiceProfileProvider,Aspensys.Providers" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="GlobalUserRoleProvider">
      <providers>
        <clear />
        <add name="GlobalUserRoleProvider" type="Aspensys.Providers.WebServiceRoleProvider,Aspensys.Providers" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="ManagementApplication" />
        <add namespace="ManagementApplication.Models" />
        <add namespace="Aspensys.GlobalUsers.WebServiceClient" />
        <add namespace="Aspensys.GlobalUsers.WebServiceClient.UserService" />
        <add namespace="MvcContrib.UI.Grid" />
        <add namespace="MvcContrib.UI.Pager" />
        <add namespace="MvcContrib.Pagination" />
      </namespaces>
    </pages>
        <machineKey decryption="AES" decryptionKey="replace_me" validation="SHA1" validationKey="replace_me" />
        <identity impersonate="false" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <location path="Content"> 
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LogOn">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Remote">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Service/GlobalUsersService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Aspensys.Providers.GlobalUserTicketModule" type="Aspensys.Providers.GlobalUserTicketModule,Aspensys.Providers" />
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <fileExtensions allowUnlisted="true" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; preload" />
        </rule>
      </outboundRules>
    </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-store" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="32" maxStringContentLength="100000" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebService.GlobalUsersServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="true" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WebService.GlobalUsersServiceBehavior" name="WebService.GlobalUsersService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="WebService.IGlobalUsersService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="WebService.IGlobalUsersService" />
      </service>
    </services>
  </system.serviceModel>
  <!-- these settings are used to send emails such as password reset emails -->
  <system.net>
	<mailSettings>
	  <smtp deliveryMethod="Network">
		<network host="replace_me.fake.gov" />
	  </smtp>
	</mailSettings>
  </system.net>
</configuration>
