<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <UserService Uri="https://pubs.cancer.gov/ncipl/guam/service/globalusersservice.svc" ApplicationName="NCIPL" xdt:Locator="Match(ApplicationName)" xdt:Transform="SetAttributes" />
  
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

</configuration>
