<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings />
  <system.web>
    <compilation debug="true" />
    <sessionState configSource="localConfig\sessionState.config" />
    <machineKey configSource="localConfig\machineKey.config" />    
  </system.web>
  <appSettings configSource="localConfig\appSettings.config"/>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Siteroot redirect internal" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^pubsadmin[-.]" />
          </conditions>
          <action type="Redirect" url="/ncipladmin" />
        </rule>
        <rule name="Siteroot redirect external" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="pubs[-.]" />
          </conditions>
          <action type="Redirect" url="/ncipl" />
        </rule>
        <!-- External site redirect for scheduled maintenance. 
        Uncomment this on the server that hosts pubs.cancer.gov to redirect to the maintenance page.
        <rule name="Maintenance window redirect all" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{URL}" pattern="maintenance.html" negate="true" />
            <add input="{URL}" pattern=".css" negate="true" />
            <add input="{URL}" pattern=".png" negate="true" />
            <add input="{URL}" pattern=".svg" negate="true" />
            <add input="{URL}" pattern=".svc" negate="true" />
          </conditions>
          <action type="Redirect" url="/ncipl/maintenance.html" appendQueryString="false" redirectType="Temporary"/>
        </rule>-->
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; preload" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>