<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Legacy URL redirects" stopProcessing="true" xdt:Transform="Insert" >
          <match url="^(ncipladmin|nciplcc|ncipllm|pert)" />
          <conditions>
             <add input="{HTTP_HOST}" pattern="pubs.cancer.gov" />
          </conditions>
          <action type="Redirect" url="https://pubsadmin.cancer.gov/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
</configuration>
