<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- <section name="csrfSettings"  type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf" />-->
    <section name="UserService" type="Aspensys.GlobalUsers.WebServiceClient.UserServiceSection"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PubEnt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <UserService Uri="https://pubs-dev.cancer.gov/ncipl/guam/service/globalusersservice.svc" ApplicationName="NCIPL"/>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="..\root\EntLibConfig.config"/>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="pageSize" value="10"/>
    <add key="DataAccessType" value="PubEnt.DAL.SQLDataAccess"/>
    <add key="OrderUploadPath" value="D:\PubsRuntimeFiles\cissecure\ncipubs\orderupload"/>
    <add key="PubImagesURL" value="./pubimages"/>
    <!--IN LOCAL-->
    <add key="OrderUploadEnvironment" value="T"/>
    <!--T for test, P for prodcution-->
    <add key="PubEntEmailAddress" value="replace_me@fakemail.gov"/>
    <add key="PubEntBadCharacters" value="~!@#$%^&amp;*()_+`=:&quot;;&lt;&gt;,?/{}|[]\\"/>
    <add key="PubEntNoiseWords" value="_NoelDeletedAllNoiseWords_"/>
    <add key="PubEntEncryptFlag" value="0"/>
    <add key="PubEntEncryptKey" value="replace_me"/>
    <add key="PubLargeImagesURL" value="./pubimages/largeimages"/>
    <add key="PubFeaturedImagesURL" value="./pubimages/nciplfeatured_images"/>
    <add key="FeaturedImageWidth" value="136"/>
    <add key="FeaturedImageHeight" value="97"/>
    <add key="TurnOffFeaturedImages" value="0"/>
    <!--1 is turn off featured images, 0 is show featured images-->
    <add key="MaxWeightPerBox" value="26.0"/>
    <!-- in lbs -->
    <add key="FedexKey" value=""/>
    <add key="FedexPassword" value=""/>
    <add key="FedexLMAccountNumber" value=""/>
    <add key="FedexLMMeterNumber" value=""/>
    <add key="UPSAccessLicenseNumber" value=""/>
    <add key="UPSUserName" value=""/>
    <add key="UPSPassword" value=""/>
    <add key="UPSShipperNumber" value=""/>
    <add key="LMStreet" value=""/>
    <add key="LMCity" value=""/>
    <add key="LMState" value=""/>
    <add key="LMZip" value=""/>
    <add key="LMCountry" value=""/>
    <add key="AllowCheckRecentOrder" value=""/>
    <!-- Google Analyst Key -->
    <add key="gakey" value="replace_me"/>
  </appSettings>
  <connectionStrings>
    <!-- see localConfig/ -->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
    <httpModules>
      <!-- <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf"/>-->
    </httpModules>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <PubEnt.Properties.Settings>
      <setting name="pubent_AddressValidationService_v2_wsdl1_AddressValidationService" serializeAs="String">
        <value>https://gateway.fedex.com:443/web-services</value>
      </setting>
      <setting name="pubent_UPSRateService_RateService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Rate</value>
      </setting>
      <setting name="pubent_UPSAddressValidation_XAVService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/XAV</value>
      </setting>
      <setting name="pubent_FedexRateService_RateService" serializeAs="String">
        <value>https://ws.fedex.com:443/web-services/rate</value>
      </setting>
    </PubEnt.Properties.Settings>
  </applicationSettings>
</configuration>