<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="EntLibConfig.config"/>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="DataAccessType" value="NCIPLex.DAL.SQLDataAccess"/>
    <add key="OrderUploadPath" value="D:\PubsRuntimeFiles\cissecure\ncipubs\orderupload"/>
    <!--IN LOCAL-->
    <add key="PubImagesURL" value="./pubimages"/>
    <add key="OrderUploadEnvironment" value="T"/>
    <!--T for test, P for prodcution-->
    <add key="PubEntEmailAddress" value="replace_me@fakemail.gov"/>
    <add key="PubEntBadCharacters" value="~!@#$%^&amp;*()_+`=:&quot;;&lt;&gt;,?/{}|[]\\"/>
    <!--<add key="PubEntNoiseWords" value ="_about_1_after_2_all_also_3_an_4_and_5_another_6_any_7_are_8_as_9_at_0_be_$_because_been_before_being_between_both_but_by_came_can_come_could_did_do_does_each_else_for_from_get_got_has_had_he_have_her_here_him_himself_his_how_if_in_into_is_it_its_just_like_make_many_me_might_more_most_much_must_my_never_no_now_of_on_only_or_other_our_out_over_re_said_same_see_should_since_so_some_still_such_take_than_that_the_their_them_then_there_these_they_this_those_through_to_too_under_up_use_very_want_was_way_we_well_were_what_when_where_which_while_who_will_with_would_you_your_a_b_c_d_e_f_g_h_i_j_k_l_m_n_o_p_q_r_s_t_u_v_w_x_y_z_"/>-->
    <add key="PubEntNoiseWords" value="_NoelDeletedAllNoiseWords_"/>
    <add key="PubEntEncryptFlag" value="1"/>
    <add key="PubEntEncryptKey" value="replace_me"/>
    <add key="PubLargeImagesURL" value="./pubimages/largeimages"/>
    <add key="PubFeaturedImagesURL" value="./pubimages/nciplfeatured_images"/>
    <!--NCIPLex Begin-->
    <add key="AutoRefresh" value="60"/>
    <add key="ManualRefreshOn" value=""/>
    <!--Use "1" to turn on-->
    <!--Leave IntlFileName as EXHIBITConf_Intl_Order.IN for now, but it can be changed to NCIPLexConf_Intl_Order.IN since there is no particular dependency on orderupload code-->
    <add key="IntlFileName" value="EXHIBITConf_Intl_Order.IN"/>
    <add key="IntlOrderSeparator" value=","/>
    <!--Leave InterfaceName as EXHIBIT, till orderupload code is updated with new Interface name and code (At present will continue to use IEOT)-->
    <add key="InterfaceName" value="EXHIBIT"/>
    <add key="DomesticOrderLimit" value="20"/>
    <add key="AltForNewOrderBtn" value="End This Visit"/>
    <add key="TimeOutFromFile" value=""/>
    <!--Set to 1 to get time out values from web config-->
    <add key="PageTimeOut" value="30"/>
    <!--Used only if TimeOutFromFile is 1-->
    <add key="SessionTimeOut" value="20"/>
    <!--Used only if TimeOutFromFile is 1-->
    <!--NCIPLex End-->
  </appSettings>
  <connectionStrings>
    <!-- see localConfig/ -->
  </connectionStrings>
  <!--<system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <bypasslist>
        <add address="localdomain.com|localdomain2.com"/>
      </bypasslist>
      <proxy usesystemdefault="False" proxyaddress="" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>